{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Overlay For Sidebars -->
<!-- Right Icon menu Sidebar -->
{% include 'right-sidebar.html' %}

<!-- Left Sidebar -->
{% include 'left-sidebar.html' %}
<section class="content">
    <div class="body_scroll">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12">
                    <h2>Add Product Details</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'index' %}"><i class="zmdi zmdi-home"></i> KGN MALL</a></li>
                        
                        <li class="breadcrumb-item active">Add Product Details</li>
                    </ul>
                    <button class="btn btn-primary btn-icon mobile_menu" type="button"><i class="zmdi zmdi-sort-amount-desc"></i></button>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12">                
                    <button class="btn btn-primary btn-icon float-right right_icon_toggle_btn" type="button"><i class="zmdi zmdi-arrow-right"></i></button>                                
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <!-- Basic Validation -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="header">
                            <h2><strong>Add</strong> Product Details</h2>
                            <!-- <ul class="header-dropdown">
                                <li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more"></i> </a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a href="javascript:void(0);">Action</a></li>
                                        <li><a href="javascript:void(0);">Another action</a></li>
                                        <li><a href="javascript:void(0);">Something else</a></li>
                                    </ul>
                                </li>
                                <li class="remove">
                                    <a role="button" class="boxs-close"><i class="zmdi zmdi-close"></i></a>
                                </li>
                            </ul> -->
                        </div>
                        <div class="body">
                            <form id="form_validation" method="POST">
                                <div class="form-group form-float">
                                    <p>Select Category:</p>
                                    <select class="form-control selectpicker" id="select-country" data-live-search="true">
                                        <option data-tokens="china">China</option>
                                        <option data-tokens="malayasia">Malayasia</option>
                                        <option data-tokens="singapore">Singapore</option>
                                        <option data-tokens="china">China1</option>
                                        <option data-tokens="malayasia">Malayasia1</option>
                                        <option data-tokens="singapore">Singapore1</option>
                                        <option data-tokens="china">China2</option>
                                        <option data-tokens="malayasia">Malayasia2</option>
                                        <option data-tokens="singapore">Singapore2</option>
                                        <option data-tokens="china">China3</option>
                                        <option data-tokens="malayasia">Malayasia3</option>
                                        <option data-tokens="singapore">Singapore3</option>
                                    </select>
                    
                                  </div>

                                <div class="form-group form-float">
                                    <input type="text" class="form-control" placeholder="Product Name" name="pname" required>
                                </div>
                            
                                  
                                <div class="form-group form-float">
                                    <input type="number" class="form-control" placeholder="MRP" name="mrp" id="mrp" required>
                                    
                                </div>
                                <div class="form-group form-float">
                                    <input type="number" class="form-control" placeholder="Discount(%)" name="discount" id="sp" required>
                                </div>
                                <div class="form-group form-float">
                                    <input type="number" class="form-control" placeholder="Selling Price" name="sp" id="sp" disabled>
                                </div>
                                <div class="form-group form-float">
                                    <textarea name="description" cols="30" rows="5" placeholder="Product Description" class="form-control no-resize" required></textarea>
                                </div>
                                <!-- <div class="form-group">
                                    <div class="radio inlineblock m-r-20">
                                        <input type="radio" name="gender" id="male" class="with-gap" value="option1">
                                        <label for="male">Male</label>
                                    </div>                                
                                    <div class="radio inlineblock">
                                        <input type="radio" name="gender" id="Female" class="with-gap" value="option2" checked="">
                                        <label for="Female">Female</label>
                                    </div>
                                </div> -->
                                <!-- <div class="form-group form-float">
                                    <textarea name="description" cols="30" rows="5" placeholder="Description" class="form-control no-resize" required></textarea>
                                </div>
                                <div class="form-group form-float">
                                    <input type="password" class="form-control" placeholder="Password" name="password" required>
                                </div> -->
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">
                                        Attachment(s)
                                        (Attach multiple files.)
                                    </label>
                                    <div class="col-sm-9">
                                        <span class="btn btn-default btn-file">
                                            <input id="input-2" name="input2[]" type="file" class="file" multiple data-show-upload="true" data-show-caption="true">
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="checkbox">
                                        <input id="checkbox" type="checkbox">
                                        <label for="checkbox">Status(Active/Inactive)</label>
                                    </div>
                                </div>
                                <button class="btn btn-raised btn-primary waves-effect" type="submit">SAVE</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Validation Stats -->
            
        </div>
    </div>
</section>
<script>
    $(function() {
$('.selectpicker').selectpicker();
});
</script>
{% endblock %}

