{% load static %}
<!doctype html>
<html class="no-js " lang="en">


<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<meta name="description" content="">
<title>KGN Shopping :: Admin Login</title>
<link rel="icon" href="{% static 'admin-assets/images/favicon.ico' %}" type="image/x-icon"> 
<!-- Favicon-->
<link rel="stylesheet" href="{% static 'admin-assets/plugins/bootstrap/css/bootstrap.min.css' %}">

<!-- Custom Css -->
<link rel="stylesheet" href="{% static 'admin-assets/css/style.min.css' %}">
</head>

<body class="theme-blush">
            {% block content %}
            
            {% endblock %}
         
<script src="{% static 'admin-assets/bundles/libscripts.bundle.js' %}"></script>
<script src="{% static 'admin-assets/bundles/vendorscripts.bundle.js' %}"></script> 

</body>
</html>