{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% load bootstrap3 %}

{% block head %}
    <style>
    form{
        margin-bottom: 20px;
    }
    form .form-control{
        margin-right: 5px;
    }
    td > a{
        color: #5a5050;
    }
    .form-control {
        border-radius: 8px;
        box-shadow: 2px 2px 2px #d3d9df;
    }
    card > i,span{
        color: #4e555b;
    }
    thead > span{
        color: #ffffff;
    }
    table a {
        color: #ff6666;
    }
    table .fa-info-circle, .fa-pencil-alt, .fa-plus{
        color: #333333;
    }
    </style>
{% endblock %}

{% block content %}
    <div class="card mb-4 shadow-sm">
        <div class="card-header">
            <i class="fas fa-table mr-1"></i>
            Categories List
        </div>
        <div class="card-body">
            <div class="table-responsive">
                {% if filter %}
                <form action="" method="get" class="form form-inline">
                    {% bootstrap_form filter.form layout='inline' %}
                    <button type="submit" class="btn btn-primary shadow">
                        {% bootstrap_icon "star" %} Filter
                    </button>
                </form>
                {% endif %}
                {% render_table table %}
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
    $(document).ready(function () {
        var a = $('.asc > a');
        a.after('<span class="fa fa-long-arrow-alt-up fa-xs float-right" style="margin-top:5px;"></span>');
        var a = $('.desc > a');
        a.after('<span class="fa fa-long-arrow-alt-down fa-xs float-right" style="margin-top:5px;"></span>');
    });
    </script>
{% endblock %}