{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% load bootstrap3 %}

{% block content %}
    <style>
    tbody svg{
        color: grey;
    }
    .asc a{
        position:relative;
    }
    .asc a:before {
        content: "\f000";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
    /*--adjust as necessary--*/
        color: #000;
        font-size: 18px;
        padding-right: 0.5em;
        position: absolute;
        top: 10px;
        left: 0;
    }
    </style>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table mr-1"></i>
            Categories List
        </div>
        <div class="card-body">
            <div class="table-responsive">
                {% if filter %}
                <form action="" method="get" class="form form-inline">
                    {% bootstrap_form filter.form layout='inline' %}
                    <button type="submit" class="btn btn-primary">
                        {% bootstrap_icon "star" %} Filter
                    </button>
                </form>
                {% endif %}
                {% render_table table %}
            </div>
        </div>
    </div>
{% endblock %}