{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% load bootstrap3 %}

{% block content %}
    <style>
    form{
        margin-bottom: 20px;
    }
    form .form-control{
        margin-right: 5px;
    }
    td > a{
        color: #5a5050;
    }
    </style>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table mr-1"></i>
            Categories List
        </div>
        <div class="card-body">
            <div class="table-responsive">
                {% if filter %}
                <form action="" method="get" class="form form-inline">
                    {% bootstrap_form filter.form layout='inline' %}
                    <button type="submit" class="btn btn-primary">
                        {% bootstrap_icon "star" %} Filter
                    </button>
                </form>
                {% endif %}
                {% render_table table %}
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
    $(document).ready(function () {
        var a = $('.asc > a');
        a.after('<span class="fa fa-long-arrow-alt-up fa-xs float-right" style="margin-top:5px;"></span>');
        var a = $('.desc > a');
        a.after('<span class="fa fa-long-arrow-alt-down fa-xs float-right" style="margin-top:5px;"></span>');
    });
    </script>
{% endblock %}