{% extends 'base-login.html' %}
{% load static %}

{% block content %}
<div class="authentication">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-12">
                <form class="card auth_form" action="" method="post">
                    {% csrf_token %}
                    <div class="header">
                        <img class="logo" src="{% static 'admin-assets/images/logo.svg' %}" alt="">
                        <h5>Admin Log in</h5>
                    </div>
                    <div class="body">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Username" name="username">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="zmdi zmdi-account-circle"></i></span>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <input type="password" class="form-control" placeholder="Password" name="password">
                            <div class="input-group-append">                                
                                <span class="input-group-text"><a href="forgot-password.html" class="forgot" title="Forgot Password"><i class="zmdi zmdi-lock"></i></a></span>
                            </div>                            
                        </div>
                        <div class="checkbox">
                            <input id="remember_me" type="checkbox">
                            <label for="remember_me">Remember Me</label>
                        </div>
                        <input type="submit" name="submit"/>                      
                        
                    </div>
                </form>
                <div class="copyright text-center">
                    &copy;
                    <script>document.write(new Date().getFullYear())</script> <i class="fa fa-copyright" aria-hidden="true"></i> by
                    <span><a href="">KGN MALL</a></span>
                </div>
            </div>
            <div class="col-lg-8 col-sm-12">
                <div class="card">
                    <img src="{% static 'admin-assets/images/signin.svg' %}" alt="Sign In"/>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

